<%- include("./partials/header.ejs") %>
<% if (locals.blog) { %>
    <div class="container">
        <form action="/edit-blog" method="post" id="create-edit-form">
            <input type="text" name="Author" placeholder="Author Name" id="author" value="<%= blog.author %>">
            <input type="text" name="Title" placeholder="Title" id="title" value="<%= blog.title %>">
            <textarea name="blogContent" id="blog-text" placeholder="Entere Blog content here...." >
                <%= blog.content %>
            </textarea>
            <button id="save-btn">Save</button>
        </form>
    </div>
<% }else { %>

    <div class="container">
        <form action="/create-blog" method="post" id="create-edit-form">
            <input type="text" name="Author" placeholder="Author Name" id="author">
            <input type="text" name="Title" placeholder="Title" id="title">
            <textarea name="blogContent" id="blog-text" placeholder="Entere Blog content here...."></textarea>
            <button id="save-btn">Save</button>
        </form>
    </div>
<% } %>



<%- include("./partials/footer.ejs") %>